<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication.hunger_equity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/donation"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hunger_Equity"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ContactUS"
            android:exported="false" />
        <activity
            android:name=".CharityChangePassword"
            android:exported="false" />
        <activity
            android:name=".DonorNotification"
            android:exported="false" />
        <activity
            android:name=".CharityNotification"
            android:exported="false" />
        <activity
            android:name=".CharityFeed"
            android:exported="false" />
        <activity
            android:name=".DonorRequestForm"
            android:exported="false" />
        <activity
            android:name=".CharityRequestForm"
            android:exported="false" />
        <activity
            android:name=".DonationFeed"
            android:exported="false" />
        <activity
            android:name=".DonorDashboard"
            android:exported="false" />
        <activity
            android:name=".CharityDashboard"
            android:exported="false" />
        <activity
            android:name=".DonorProfileEdit"
            android:exported="false" />
        <activity
            android:name=".CharityProfileEdit"
            android:exported="false" />
        <activity
            android:name=".DonorHomePic"
            android:exported="false" />
        <activity
            android:name=".CharityHomePic"
            android:exported="false" />
        <activity
            android:name=".DonorHome"
            android:exported="false" />
        <activity
            android:name=".CharityHome"
            android:exported="false" />
        <activity
            android:name=".DonorLogin"
            android:exported="false" />
        <activity
            android:name=".CharityLogin"
            android:exported="false" />
        <activity
            android:name=".DonorRegi"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".CharityRegister"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>